<head>
  <link rel="stylesheet" href="../assets/styling/home/style.css">
  <title>home</title>
  <meta name="description" content="The ramblings of a mad man who spends too much time on the Internet." />
  <meta name="viewport" content="width=device-width, initial-scale=0.51">
<body class="center bg2 max">
<div id="main">
<h1 class="tab blink">WARNING: swag overload!</h1>
<div id="home">
<h1><a href="../homealt">~home4girls~</a> <span class="line">|</span>
<a href="../feeds">~post~</a> <span class="line">|</span>
<a href="../about">~find~</a>
</div>
<h1>welcome to jon huml @ night</h1>
<h1>jon huml: a menace to society?</h1>
<h2>"THIS SITE ONLY HAS 1500 RULES."</h2>
<h2>1. all thoughts will be thought in comic sans</h2>
<h2>2. matrix inversion is NOT allowed</h2>
<h2>3. no more chicken sandwiches</h2>
<h2>4-1500. forthcoming </h2>
<div class="space"></div>
<footer id="footer">
<img src="../assets/images/home/bar.gif">
<h2><a href="http://jonhuml.com">GO BACK TO SAFETY</a></h2>
<span><img src="../assets/images/home/windows.gif"></span>
</footer>
</div>
</body>
